project:
  type: website
  output-dir: docs

website:
  title: "EPPS6356"
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: About
        href: about.qmd 
      - text: Assignments
        href: EPPS6356.qmd
        

format:
  html:
    theme: cosmo
    toc: true
    toc-depth: 3
    number-sections: true
    page-layout: article
    css: styles.css
